<% last_12_months = 12.times.map { |i| (Date.today - i.month).beginning_of_month } %>

<table>
  <tr>
    <th> Month </th>
    <th> Paid </th>
    <th> Recovered </th>
    <th> Spent </th>
  </tr>
  <% last_12_months.each do |date| %>
    <% month = date.strftime("%b") %>
    <% year = date.strftime("%Y") %>
    <% expenses = Expense.where(month: month, year: year.to_i) %>
    <% paid = expenses.where(name: 'Petrol - Car').first&.amount || 0 %>
    <% recovered = expenses.where(name: 'QuickRide').first&.amount || 0 %>
    <% spent = paid - recovered %>

    <tr class='data'>
      <th> <%= "#{month} #{year}"%> </th>
      <th> <%= paid.zero? ? '-' : "₹#{paid}" %> </th>
      <th> <%= recovered.zero? ? '-' : "₹#{recovered}" %> </th>
      <th> <%= spent.zero? ? '-' : "₹#{spent}" %> </th>
    </tr>
  <% end %>
</table>

<style>
  th {
    border: 1px;
    border-style: outset;
  }
  tr.data th {
    font-weight: normal;
  }
</style>
